extends ./components/template_layout.pug

append includes
  //- Инклюды для страницы

append variables
  -
    pageTitle = 'Главная для гостя - Rieker'
    header.template = 'guest'
    //- И другие переменные

prepend mainContent
  section.main__section
    .main__wrapper(style="width:100%; max-width: 100%; padding:0;")
      h1 Кальулятор для "Северной казны"
      script(src="https://code.jquery.com/jquery-3.5.1.min.js")
      script(src="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.3/rangeslider.min.js")
      .calculator.js--calculator
        .calculator__section
          //- Вес
          .calculator__cell.calculator__cell--slider
            .calculator__cell-header.calculator__cell-header--slider
              p.calculator__cell-title Вес:&nbsp;
                input.calculator__input.calculator__input--weight.js--input-digits.js--calculator__input--weight(type='number' value='1' pattern='[0-9]{1,4}')
                span &nbsp;грамм
            .calculator__cell-body.calculator__cell-body--slider
              input.calculator__input.calculator__input--slider.js--calculator__slider(type="range" min="1" max="100" step="1" value="0")
          //- Пробы
          .calculator__cell
            .calculator__cell-header
              p.calculator__cell-title Проба
            .calculator__cell-body
              .calculator__radio
                .calculator__radio-item
                  label.calculator__label.calculator__label--gc
                    input.calculator__input.calculator__input--radio.js--calculator__input--gc(type="radio" name="calculator-gc" value="375" checked=true)
                    span.label.calculator__label-text 375
                .calculator__radio-item
                  label.calculator__label.calculator__label--gc
                    input.calculator__input.calculator__input--radio.js--calculator__input--gc(type="radio" name="calculator-gc" value="500")
                    span.label.calculator__label-text 500
                .calculator__radio-item
                  label.calculator__label.calculator__label--gc
                    input.calculator__input.calculator__input--radio.js--calculator__input--gc(type="radio" name="calculator-gc" value="583")
                    span.label.calculator__label-text 583/585
                //- .calculator__radio-item
                //-   label.calculator__label.calculator__label--gc
                //-     input.calculator__input.calculator__input--radio.js--calculator__input--gc(type="radio" name="calculator-gc" value="585")
                //-     span.label.calculator__label-text 585
                .calculator__radio-item
                  label.calculator__label.calculator__label--gc
                    input.calculator__input.calculator__input--radio.js--calculator__input--gc(type="radio" name="calculator-gc" value="750")
                    span.label.calculator__label-text 750
                //- .calculator__radio-item
                //-   label.calculator__label.calculator__label--gc
                //-     input.calculator__input.calculator__input--radio.js--calculator__input--gc(type="radio" name="calculator-gc" value="850")
                //-     span.label.calculator__label-text 850
                //- .calculator__radio-item
                //-   label.calculator__label.calculator__label--gc
                //-     input.calculator__input.calculator__input--radio.js--calculator__input--gc(type="radio" name="calculator-gc" value="900")
                //-     span.label.calculator__label-text 900
                .calculator__radio-item
                  label.calculator__label.calculator__label--gc
                    input.calculator__input.calculator__input--radio.js--calculator__input--gc(type="radio" name="calculator-gc" value="958")
                    span.label.calculator__label-text 958
          //- Срок
          .calculator__cell
            .calculator__cell-header
              p.calculator__cell-title Срок, дни
            .calculator__cell-body
              .calculator__radio
                .calculator__radio-item
                  label.calculator__label.calculator__label--term
                    input.calculator__input.calculator__input--radio.js--calculator__input--term(type="radio" name="calculator-term" value="32" checked=true)
                    span.label.calculator__label-text 32
                .calculator__radio-item
                  label.calculator__label.calculator__label--term
                    input.calculator__input.calculator__input--radio.js--calculator__input--term(type="radio" name="calculator-term" value="64")
                    span.label.calculator__label-text 64
        .calculator__section.calculator__section--values
          .calculator__cell.calculator__cell--row
            .calculator__cell-col
              .calculator__cell-header
                p.calculator__cell-title Сумма займа
              .calculator__cell-body
                p.calculator__text.calculator__text--summ
                  span.js--calculator__text--summ 1220
                  span.calculator__currence &nbsp;&#8381;
            .calculator__cell-col.calculator__cell-col--promo
              .calculator__cell-header
                p.calculator__cell-title С учётом промокода
              .calculator__cell-body
                p.calculator__text.calculator__text--summ
                  span.js--calculator__text--summ-promo 1220
                  span.calculator__currence &nbsp;&#8381;
          .calculator__cell.calculator__cell--row
            .calculator__cell-col
              .calculator__cell-header
                p.calculator__cell-title Начислено
              .calculator__cell-body
                p.calculator__text.calculator__text--accrued
                  span.js--calculator__text--accrued 4.88
                  span.calculator__currence.calculator__currence--per-day &nbsp;&#8381;/д.
            .calculator__cell-col
              .calculator__cell-header
                -
                  let text = `
                    Сумма<br> перезалога
                  `
                p.calculator__cell-title !{text}
              .calculator__cell-body
                p.calculator__text
                  span.js--calculator__text--re-pledge 156
                  span.calculator__currence &nbsp;&#8381;
          .calculator__cell.calculator__cell--button
            .calculator__cell-body
              button.calculator__button() Получить промокод

      script.
        (() => {
          const inputDigits = document.querySelector('.js--input-digits');
          if(!inputDigits){
            return;
          }
          const limitLength = 2; // ограничение на длинну числа в 2 знака (<=100)
          inputDigits.addEventListener('paste', function (e) {
            e.preventDefault();
          });
          inputDigits.addEventListener('keypress', function(e){
            //- e.keyCode === 101 - символ "e", иррациональное число 2,71...
            if(inputDigits.value.length > limitLength || e.keyCode === 101){
              e.preventDefault();
            }
          });
        })();
        class Calculator {
          constructor(options={}){
            let { selector='.js--calculator' } = options;
            const element = document.querySelector(selector);
            if(!element){
              return;
            }
            this.element = element;
            this.weight = 1;
            /*
              Пробы:
              375 ~ 1220 р.
              500 ~ 1625 р.
              583 ~ 1995 р.
              585 ~ 2000 р.
              750 ~ 2435 р.
              850 ~ 2705 р.
              900 ~ 2860 р.
              958 ~ 3045 р.
            */
            this.gcPrices = {
              "375": 1220,
              "500": 1625,
              "583": 1995,
              "585": 2000,
              "750": 2435,
              "850": 2705,
              "900": 2860,
              "958": 3045,
            };
            // gold content - "золотая проба"
            this.gc = this.gcPrices['375']; // по дефолту, т.к. выбран первый инпут в списке
            // Срок займа
            this.term = 32;
            //- console.log(this.gc);
            //- срок займа
            this.duration = 33; // 33/45/65
            this.promo = 1.01; // процент по промокоду
            this.summ = 0; // сумма залога
            this.roundStep = 50; // Шаг округления суммы в бОльшую сторону
            this.summPromo = 0; // сумма залога с промокодом
            this.accrued = 0; // Начислено
            this.dayRate = 0.0039; // % Ставка за день (стандарт - 0.39%)
            this.rePledge = 0; // Сумма перезалога
            this.dayPayment = 0;
            this.initElements();
          };
          initElements(){
            //- Добавление элементов и обработка ввода
            const _self = this;
            //- Элементы вывод рассчитанных значений
            this.elTextSumm = this.element.querySelector('.js--calculator__text--summ');
            this.elTextSummPromo = this.element.querySelector('.js--calculator__text--summ-promo');
            this.elTextAccrued = this.element.querySelector('.js--calculator__text--accrued');
            this.elTextRePledge = this.element.querySelector('.js--calculator__text--re-pledge');
            //- Обработка ввода в поле "Вес"
            const sliderEl = this.element.querySelector('.js--calculator__slider');
            this.$slider = $(sliderEl);
            this.inputWeight = this.element.querySelector('.js--calculator__input--weight');
            const limitValue = 100; // ограничение на ввод числа
            this.inputWeight.addEventListener('keyup', function(e){
              let value = parseInt(_self.inputWeight.value, 10);
              if(value > limitValue){
                _self.inputWeight.value = limitValue;
              }
              if(_self.inputWeight.value === ''){
                _self.inputWeight.value = 1;
              }
              _self.$slider.val(_self.inputWeight.value).change();
            });
            this.inputWeight.addEventListener('change', function(e){
              _self.$slider.val(_self.inputWeight.value).change();
            });
            //- Инит слайдера веса
            this.$slider.rangeslider({
              polyfill : false,
              onInit : function() {
                const value = this.$element.val();
                this.output = _self.inputWeight;
                this.output.value = value;
                this.calculator = _self;
                this.calculator.setWeight( value );
              },
              onSlide : function( position, value ) {
                this.output.value = value;
                this.calculator.setWeight( value );
              }
            });
            //- Обработка выбора пробы
            const inputsGC = this.element.querySelectorAll('.js--calculator__input--gc');
            inputsGC.forEach(input => {
              input.addEventListener('change', () => {
                _self.setGC(input.value);
              });
            });
            //- Обработка выбора пробы
            const inputsTerm = this.element.querySelectorAll('.js--calculator__input--term');
            inputsTerm.forEach(input => {
              input.addEventListener('change', () => {
                _self.setTerm(input.value);
              });
            });
          }
          setWeight(value){
            this.weight = value;
            this.calculate();
          };
          setGC(value){
            this.gc = this.gcPrices[value];
            this.calculate();
          }
          setTerm(value){
            this.term = value;
            this.calculate();
          }
          calculate(){
            //- Сумма займа (метод округления до 50 руб.в большую сторону)  = Вес * Цена за гр. соответствующей пробы
            let summ = this.weight*this.gc;
            let remains = summ%this.roundStep;
            if(remains > 0){
              summ = summ - remains + this.roundStep;
            }
            this.summ = summ;
            //- Сумма займа с промокодом (метод округления до 50 руб. в большую сторону) = Сумма займа * 1,01
            let summPromo = this.summ*this.promo;
            let remainsPromo = summPromo%this.roundStep;
            if(remainsPromo > 0){
              summPromo = summPromo - remainsPromo + this.roundStep;
            }
            this.summPromo = summPromo;
            //- Начислено (2 цифры после запятой) = Сумма займа*%ставка за день (по стандартному тарифу это 0,39%)
            this.accrued = (this.summ*this.dayRate).toFixed(2);
            //- Сумма перезалога (сумма округления арифметически до 1 руб.) = Сумма займа*%ставка за день (по стандартному тарифу это 0,39%)*на кол-во дней (32 или 64).
            this.rePledge = Math.ceil(this.summ*this.dayRate*this.term);
            //- console.log(this.summ, this.summPromo, this.accrued, this.rePledge);
            this.displayValues();
          };
          displayValues(){
            // Отображение рассчитанных значений
            this.elTextSumm.innerText = this.summ.toLocaleString();
            this.elTextSummPromo.innerText = this.summPromo.toLocaleString();
            this.elTextAccrued.innerText = this.accrued;
            this.elTextRePledge.innerText = this.rePledge;
          }
        };
        const calculator = new Calculator();
