mixin head(title)
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="format-detection" content="telephone=no")

    title= title
    meta(name="description" content="Описание страницы сайта. Описание страницы сайта.")
    link(rel="stylesheet" href="css/style.css")
    link(rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/rangeslider.js/2.3.3/rangeslider.min.css")
